{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medidas</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

</head>
<body>
  <h1>Medidas Corpo</h1>
  <div class="container">
    <div class="add-button">
      <a href="{% url  'record_create' %}"><button type="button">Adicionar Novas Medidas</button></a>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data da Medição</th>
          <th>Peitoral</th>
          <th>Braço Esquerdo</th>
          <th>Braço Direito</th>
          <th>Antebraço Esquerdo</th>
          <th>Antebraço Direito</th>
          <th>Gluteos</th>
          <th>Coxa Esquerda</th>
          <th>Coxa Direita</th>
          <th>Abdomen</th>
          <th>Panturilha Esquerda</th>
          <th>Panturilha Direita</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{ record.nome }}</td>
          <td>{{ record.data_medida }}</td>
          <td>{{ record.peitoral }}</td>
          <td>{{ record.braco_esq }}</td>
          <td>{{ record.braco_dir }}</td>
          <td>{{ record.antebraco_esq }}</td>
          <td>{{ record.antebraco_dir }}</td>
          <td>{{ record.gluteos }}</td>
          <td>{{ record.coxa_esq }}</td>
          <td>{{ record.coxa_dir }}</td>
          <td>{{ record.abdomen }}</td>
          <td>{{ record.pantu_esq }}</td>
          <td>{{ record.pantu_dir }}</td>
          <td class="action-links">
            <a href="{% url 'record_update' record.pk %}">Editar</a>
            <a href="{% url 'record_delete' record.pk %}">Deletar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
