
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
/* tabela */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
}
th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}
th {
  background-color: blue;
  color: white;
  
}
tr:hover {
  background-color: #f5f5f5;
}
.action-links a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}
.add-button {
  margin-bottom: 20px;
  text-align: right;
}
.add-button button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  /* cursor: pointer; */
}
.logo img{
  width: 100px; 
  right: 50px;
  padding: 20px;
  border-radius: 20px;
}
/* cabeça */
.logo img{
  width: 100px; 
  right: 50px;
  padding: 20px;
  /* float: left; */
}
 .header {
   display: flex;
   align-items: center;
   background-color: #0400ff;
   border-bottom: 1px solid #000;
   padding: 10px;
}
.header h1 {
   flex: 1; /* Ocupa o restante do espaço disponível */
   text-align: center;
   color: white;
}
/* rodape */
.cabecalho {
   position:relative;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: blue;
   height: 70px;
   text-align: center;
}
.cabecalho img{
 float: left;
 padding: 10px;
 width: 50px;
 height: 50px;
}
.cabecalho p{
 text-align:center;
 color: white;
}
/* formulario */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #0004ff;
  color: white;
}
input[type="text"],
input[type="number"],
input[type="date"],
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
button {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: blue;
}